body {
  min-width: 996px;
  font-family: 'Oswald', sans-serif;
}

.menubar {
  display: flex;
  justify-content: space-between;;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color:  black;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.menubar a {
  font-size: 4vh;
  color: white;
  text-decoration: none;
  margin: 5px 25px 0;
}
